__pycache__/
.DS_Store
.cache
bin/
build/
dist/
lib/
eggs/

Approach.md
geckodriver.log
.ipynb_checkpoints
training_data/
raw_data/
satelite_tiles/
aktogrammh/

code_archive.ipynb

data/
images/aktogrammh/
images/temp/
keys.py

code/Mask_RCNN/assets/
code/Mask_RCNN/images/
code/Mask_RCNN/samples

code/Mask_RCNN/

code/geoio/
